<template>
  <Head title="Employees List" />
  <AuthenticatedLayout>
    <template #header>
      <div class="grid grid-cols-2 items-center mb-2">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight col-span-1">
          Employees List
        </h2>
        <button
          @click="showCreateModal"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded justify-self-end col-span-1"
        >
          Add Employee
        </button>
      </div>
    </template>
    <div v-if="isLoading" class="absolute top-0 left-0 right-0 bottom-0 bg-gray-500 bg-opacity-50 flex justify-center items-center" style="z-index:9999">
      <div class="text-white text-lg">Loading...</div>
    </div>
    <div v-if="!isLoading">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-5 pb-5">
        <a-table
          :columns="columns"
          :dataSource="employees"
          :pagination="pagination"
          @change="handleTableChange"
        >
          <template #index="{ record }">
            {{ record.rowIndex }}
          </template>

          <template #full_name="{ record }">
            {{ record.first_name }} {{ record.last_name }}
          </template>
          <template #actions="{ record }">
            <button @click="showDeleteModal(record)" class="text-red-600 mr-2">
              <DeleteOutlined />
            </button>
            <button @click="showEditModal(record)" class="text-blue-600">
                <EditOutlined />
            </button>
          </template>

          <template #company="{ record }">
            <button @click="showCompanyDetailModal(record)" class="text-blue-600">
              {{ record.company.name }}
            </button>
          </template>
        </a-table>
      </div>
    </div>

    <!-- delete model  -->
    <DeleteConfirmationModal
      :isVisible="deleteModalVisible"
      message="Are you sure you want to delete this employee?"
      @update:isVisible="deleteModalVisible = $event"
      @confirm="confirmDelete"
    />

    <!-- detailed model  -->
    <a-modal
      v-model:visible="detailedModalVisible"
      title="Company Details"
      :footer="null"
    >
      <div class="mb-3">
        <InputLabel value="Name" />
        <span class="block text-gray-700">{{ companyDetailInfo ? companyDetailInfo.company.name : ''}}</span>
      </div>
      <div class="mb-3">
        <InputLabel value="Email" />
        <span class="block text-gray-700">{{ companyDetailInfo.company.email }}</span>
      </div>
      <div class="mb-3">
        <InputLabel value="Logo" />
        <img :src="companyDetailInfo.company.logo" v-if="companyDetailInfo.company.logo" style="width: 100px; height: auto" />
        <span class="block text-gray-700" v-else>N/A</span>
      </div>
      <div class="mb-3">
        <InputLabel value="Website" />
        <a :href="companyDetailInfo.company.website" target="_blank" style="color: #1890ff">{{ companyDetailInfo.company.website }}</a>
      </div>
    </a-modal>

    <!-- Create model  -->
    <a-modal
      v-model:visible="createModalVisible"
      :title="modalTitle"
      @ok="handleCreate"
      @cancel="handleCancel"
    >
      <form @submit.prevent="createEmployee">
        <div class="mb-4">
          <InputLabel value="First Name" />
          <input
            type="text"
            id="fname"
            v-model="first_name"
            placeholder="First Name"
            required
            class="form-input mt-1 block w-full"
          />
        </div>
        <div class="mb-4">
          <InputLabel value="Last Name" />
          <input
            type="text"
            id="lname"
            v-model="last_name"
            placeholder="Last Name"
            required
            class="form-input mt-1 block w-full"
          />
        </div>
        <div class="mb-4">
          <InputLabel value="Company" />
          <select
            v-model="company_id"
            required
            class="form-input mt-1 block w-full"
          >
            <option value="" disabled>Select a company</option>
            <option
              v-for="company in companies"
              :key="company.id"
              :value="company.id"
            >
              {{ company.name }}
            </option>
          </select>
        </div>
        <div class="mb-4">
          <InputLabel value="Email" />
          <input
            type="email"
            id="email"
            v-model="email"
            placeholder="Email"
            required
            class="form-input mt-1 block w-full"
          />
        </div>
        <div class="mb-4">
          <InputLabel value="Phone" />
          <input
            type="number"
            id="phone"
            v-model="phone"
            placeholder="phone"
            required
            class="form-input mt-1 block w-full"
          />
        </div>
      </form>
      <template #footer>
        <div>
          <div class="form-group">
            <button
              type="button"
              class="mb-2 bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 mr-2 px-4 rounded"
              @click="handleCancel"
            >
              Cancel
            </button>
            <button
              type="button"
              class="mb-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              @click="createEmployee"
            >
              {{ buttonTitle }}
            </button>
          </div>
        </div>
      </template>
    </a-modal>
  </AuthenticatedLayout>
</template>

<script>
import axios from "@/axios";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import DeleteConfirmationModal from '@/Components/DeleteConfirmationModal.vue';
import InputLabel from '@/Components/InputLabel.vue';
import { Head } from "@inertiajs/vue3";
import { Table, Modal } from "ant-design-vue";
import { DeleteOutlined, EditOutlined } from "@ant-design/icons-vue";

export default {
  components: {
    AuthenticatedLayout,
    Head,
    "a-table": Table,
    "a-modal": Modal,
    DeleteOutlined,
    EditOutlined,
    DeleteConfirmationModal,
    InputLabel
  },
  data() {
    return {
      companies: [],
      employees: [],
      isLoading: false,
      error: "",
      columns: [
        {
          title: "Index",
          dataIndex: "index",
          slots: { customRender: "index" },
        },
        {
          title: "Full Name",
          dataIndex: "full_name",
          slots: { customRender: "full_name" },
        },
        {
          title: "Company",
          dataIndex: "company",
          slots: { customRender: "company" },
        },
        {
          title: "Email",
          dataIndex: "email",
        },
        {
          title: "Phone",
          dataIndex: "phone",
        },
        {
          title: "Actions",
          dataIndex: "actions",
          slots: { customRender: "actions" },
        },
      ],
      createModalVisible: false,
      detailedModalVisible: false,
      companyDetailInfo: [
        {
          company: {
            name: '',
            email: '',
            logo: '',
            website: ''
          },
        },
      ],
      first_name: "",
      email: "",
      last_name: "",
      company_id: "",
      employeeId: "",
      isEditMode: false,
      deleteModalVisible: false,
      editModalVisible: false,
      buttonTitle: "Create",
      modalTitle: "Create New Employee",
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
      },
    };
  },
  created() {
    this.fetchEmployees();
    this.fetchCompanies();
  },
  methods: {
    async fetchCompanies() {
      try {
        const response = await axios.get("/companies-list");
        this.companies = response.data;
      } catch (error) {
        console.error("Failed to fetch employes:", error);
        this.error = "Failed to load the list of employes.";
      }
    },
    handleTableChange(pagination, filters, sorter) {
      this.fetchEmployees(pagination.current);
    },
    resetForm() {
      this.first_name = "";
      this.email = "";
      this.last_name = "";
      this.company_id = "";
      this.phone = "";
      this.createModalVisible = false;
      this.isEditMode = false;
      this.buttonTitle = "Create";
      this.modalTitle = "Create New Employee";
    },
    showCreateModal() {
      this.createModalVisible = true;
    },
    handleCreate() {
      this.createEmployee();
    },
    handleCancel() {
      this.resetForm();
      this.createModalVisible = false;
    },
    async confirmDelete() {
      await axios
        .delete(`/employees/${this.currentemployee.id}`)
        .then((response) => {
          this.$toast.success(response.data.message);
          this.fetchEmployees();
        })
        .catch((error) => {
          this.$toast.error("An error occurred while deleting the employee.");
          this.$toast.error("Failed to delete employee.");
        });

      this.deleteModalVisible = false;
      this.currentemployee = null;
    },
    showDeleteModal(employee) {
      this.deleteModalVisible = true;
      this.currentemployee = employee;
      
    },
    showEditModal(employee) {
      this.isEditMode = true;
      this.employeeId = employee.id;
      this.first_name = employee.first_name;
      this.last_name = employee.last_name;
      this.email = employee.email;
      this.phone = employee.phone;
      this.company_id = employee.company_id;
      this.createModalVisible = true;
      this.buttonTitle = "Update";
      this.modalTitle = "Update Employee";
    },
    showCompanyDetailModal(record){
      this.detailedModalVisible = true;
      this.companyDetailInfo = record
    },
    cancelDelete() {
      this.deleteModalVisible = false;
      this.currentemployee = null;
    },
    async createEmployee() {
      this.isLoading = true;
      let url = this.isEditMode
        ? `/employees/${this.employeeId}`
        : "/employees";
      let self = this;
      let data = new FormData();
      data.append("first_name", self.first_name);
      data.append("last_name", self.last_name);
      data.append("email", self.email);
      data.append("company_id", self.company_id);
      data.append("phone", self.phone);
      await axios
        .post(url, data)
        .then((response) => {
          this.createModalVisible = false;
          this.$toast.success(response.data.message);
          this.fetchEmployees();
          self.resetForm();
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
          if (error.response && error.response.data.errors) {
            const errors = error.response.data.errors;
            for (const key in errors) {
              errors[key].forEach((message) => {
                this.$toast.error(message);
              });
            }
          }
        });
    },
    async fetchEmployees(page = 1) {
      this.isLoading = true;
      try {
        const response = await axios.get(`/employees?page=${page}`);

        const startIndex = (response.data.current_page - 1) * response.data.per_page;
        this.employees = response.data.data.map((employee, index) => ({
          ...employee,
          rowIndex: startIndex + index + 1,
        }));
        this.pagination.total = response.data.total;
        this.pagination.current = response.data.current_page;
        this.pagination.pageSize = response.data.per_page;
      } catch (error) {
        console.error("Failed to fetch employees:", error);
        this.error = "Failed to load the list of employees.";
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<style scoped>
.text-center {
  text-align: center;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.text-red-500 {
  color: #f56565;
}
</style>
