<template>

    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="grid md:grid-cols-2 gap-4" v-if="isAdmin"> 
                    <div @click="redirectTo('companies')" class="cursor-pointer bg-white overflow-hidden shadow-sm sm:rounded-lg p-6 dashboard-cls">
                        <h2>
                            <strong>
                                Total Companies
                            </strong>
                        </h2>
                        <div class="text-gray-900">{{ dashboardCount.companies }}</div>
                    </div>
                    <div @click="redirectTo('employees')" class="cursor-pointer bg-white overflow-hidden shadow-sm sm:rounded-lg p-6 dashboard-cls">
                        <h2>
                            <strong>
                                Total Employee
                            </strong>
                        </h2>
                        <div class="text-gray-900">{{ dashboardCount.employees }}</div>
                    </div>
                </div>
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg" v-else>
                    <div class="p-6 text-gray-900">You're logged in!</div>
                </div>
            </div>
        </div>

    </AuthenticatedLayout>
</template>
<script>
import axios from "@/axios";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import { Head } from "@inertiajs/vue3";
import { Inertia } from '@inertiajs/inertia';

export default {
    components: {
        AuthenticatedLayout,
        Head
    },
    data() {
        return {
            dashboardCount: [],
        };
    },
    props: {
        user: Object,
    },
     computed:{
        isAdmin(){
            return this.user.email == "admin@grtech.com" ? true : false;
        }
    },
    created() {
        if(this.isAdmin){
            this.fetchCountList();
        }
    },
    methods: {
        async fetchCountList() {
            try {
                const response = await axios.get("/dashboard-count");
                this.dashboardCount = response.data;
            } catch (error) {
                this.error = "Failed to load.";
            }
        },
        redirectTo(page) {
            Inertia.visit(this.route(page));
        },
    },
};
</script>
<style>
.dashbaord-cls h2 {
    font-size: 18px;
}
</style>
