<template>
    <svg width="133" height="58" viewBox="0 0 133 58" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="LOGO" clip-path="url(#clip0_1795_6976)">
            <path id="Vector"
                d="M118.42 32.0215C110.658 41.153 78.0959 69.9438 27.0078 32.0215L42.5959 32.062C42.5959 32.062 82.0663 52.4755 113.141 32.0215H118.42Z"
                fill="#1E1C1C" />
            <path id="Vector_2"
                d="M18.734 15.6777C18.4344 15.1901 18.0001 14.7956 17.4815 14.5403C16.8978 14.2644 16.2556 14.1285 15.608 14.1438C15.0219 14.1148 14.4365 14.2136 13.8939 14.433C13.3512 14.6525 12.8649 14.9873 12.4698 15.4133C11.6673 16.3702 11.259 17.5876 11.3255 18.8254C11.2293 20.1569 11.6691 21.4723 12.5504 22.4889C13.0244 22.9294 13.5864 23.2685 14.2009 23.4849C14.8153 23.7012 15.4689 23.7899 16.12 23.7454C16.9578 23.785 17.7874 23.5702 18.4961 23.1299C19.2048 22.6896 19.7581 22.0456 20.0803 21.2855H14.7709V17.556H24.6312V22.5821C24.1952 23.6051 23.5797 24.5451 22.8127 25.3595C21.9578 26.2627 20.9258 26.9869 19.7787 27.489C18.4667 28.0621 17.0429 28.3461 15.6071 28.3211C13.8456 28.356 12.105 27.9416 10.5555 27.1186C9.11801 26.3432 7.93903 25.1768 7.16034 23.7596C6.34126 22.2413 5.92911 20.5434 5.96286 18.8256C5.93185 17.1162 6.34463 15.4273 7.1622 13.9178C7.93868 12.5039 9.11207 11.3384 10.5431 10.5596C12.0876 9.73581 13.8241 9.32138 15.5814 9.35712C17.6929 9.27494 19.7744 9.8692 21.5118 11.0502C23.0624 12.1588 24.1074 13.821 24.4215 15.6788L18.7338 15.6778L18.734 15.6777Z"
                fill="#FF9E30" />
            <path id="Vector_3"
                d="M36.6224 28.1895L32.8499 21.313H32.281V28.1895H27.0039V9.54285H35.3293C36.6667 9.50355 37.9949 9.77059 39.2089 10.3229C40.2069 10.7873 41.0418 11.5324 41.6076 12.4635C42.1512 13.3922 42.4303 14.4473 42.4154 15.5182C42.4385 16.7171 42.0653 17.8911 41.3516 18.8642C40.5763 19.8686 39.4809 20.5895 38.2399 20.9119L42.5235 28.1848L36.6225 28.1895H36.6224ZM32.2848 17.7678H34.8978C35.4828 17.8113 36.0623 17.6312 36.5152 17.2652C36.7034 17.0729 36.8483 16.8442 36.9411 16.5937C37.0339 16.3432 37.0722 16.0764 37.0538 15.8105C37.0678 15.5498 37.0259 15.2891 36.9307 15.0454C36.8355 14.8016 36.6891 14.5803 36.5011 14.3957C36.0554 14.0254 35.4802 13.8404 34.8978 13.8801H32.2848V17.7678Z"
                fill="#FF9E30" />
            <path id="Vector_4"
                d="M64.2676 9.54297V13.669H59.1981V28.1887H53.9171V13.669H48.9102V9.54297H64.2676H64.2676Z"
                fill="#1E1C1C" />
            <path id="Vector_5"
                d="M71.5153 13.6951V16.7368H77.5775V20.6776H71.5153V24.0366H78.3853V28.1887H66.2344V9.54297H78.3853V13.6951H71.5153Z"
                fill="#1E1C1C" />
            <path id="Vector_6"
                d="M81.5225 13.9173C82.2782 12.506 83.4336 11.3394 84.8494 10.5582C86.3658 9.73727 88.0757 9.32284 89.8071 9.35666C91.9592 9.2864 94.0708 9.94353 95.7886 11.2181C97.4195 12.481 98.5307 14.2798 98.9174 16.2833H93.2287C92.9323 15.6202 92.4403 15.0595 91.8163 14.6734C91.1922 14.2874 90.4647 14.0937 89.7274 14.1174C89.1726 14.0965 88.6203 14.2012 88.1134 14.4236C87.6064 14.6461 87.1585 14.9801 86.8044 15.4C86.0359 16.3773 85.6488 17.5921 85.7131 18.8252C85.646 20.0665 86.033 21.2906 86.8044 22.2764C87.1583 22.6967 87.6061 23.0311 88.1131 23.2537C88.62 23.4762 89.1725 23.581 89.7274 23.56C90.4654 23.584 91.1937 23.3902 91.8182 23.0036C92.4427 22.617 92.9348 22.0553 93.2307 21.3913H98.9193C98.5328 23.3948 97.4216 25.1937 95.7906 26.4564C94.0727 27.731 91.9612 28.3881 89.809 28.3179C88.0777 28.3518 86.3679 27.9367 84.8523 27.1144C83.4363 26.3334 82.2809 25.1668 81.5254 23.7554C80.7228 22.2323 80.3202 20.5368 80.3535 18.8224C80.3218 17.1174 80.7235 15.4315 81.5225 13.9174V13.9173Z"
                fill="#1E1C1C" />
            <path id="Vector_7"
                d="M118.422 9.54297V28.1897H113.141V20.7045H106.703V28.1897H101.422V9.54297H106.703V16.5524H113.141V9.54297H118.422Z"
                fill="#1E1C1C" />
            <g id="Group">
                <path id="Vector_8" d="M42.7006 56.4551H42.5234V57.0638H42.7006V56.4551Z" fill="#FF00FF" />
                <path id="Vector_9" d="M42.7006 0.21875H42.5234V0.827446H42.7006V0.21875Z" fill="#FF00FF" />
            </g>
        </g>
        <defs>
            <clipPath id="clip0_1795_6976">
                <rect width="133" height="57" fill="white" transform="translate(0 0.0644531)" />
            </clipPath>
        </defs>
    </svg>

</template>
