<template>
    <a-modal
        :open="isVisible"
        title="Confirm Delete"
        @cancel="handleCancel"
        @ok="handleConfirm"
    >
      <p>{{ message }}</p>
      <template #footer>
        <button
          type="button"
          class="mb-2 bg-slate-500 hover:bg-slate-700 text-white mr-2 font-bold py-2 px-4 rounded"
          @click="handleCancel"
        >
          Cancel
        </button>
        <button
          type="button"
          class="mb-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          @click="handleConfirm"
        >
          Delete
        </button>
      </template>
    </a-modal>
</template>
  
<script>
  import { Modal } from "ant-design-vue";
  export default {
    components: {
        "a-modal": Modal,
    },
    name: 'DeleteConfirmationModal',
    props: {
        isVisible: {
            type: Boolean,
            required: true
        },
        message: {
            type: String,
            default: 'Are you sure you want to delete this item?'
        }
    },
    emits: ['confirm', 'update:isVisible'],
    methods: {
        handleConfirm() {
            this.$emit('confirm');
            this.$emit('update:isVisible', false);
        },
        handleCancel() {
            this.$emit('update:isVisible', false);
        }
    }
  }
</script>
  