<template>
  <Head title="Company List" />
  <AuthenticatedLayout>
    <template #header>
      <div class="grid grid-cols-2 items-center mb-2">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight col-span-1">
          Company List
        </h2>
        <button @click="showCreateModal"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded justify-self-end col-span-1"
        >
          Add Company
        </button>
      </div>
    </template>
    <div v-if="isLoading" class="absolute top-0 left-0 right-0 bottom-0 bg-gray-500 bg-opacity-50 flex justify-center items-center" style="z-index:9999">
      <div class="text-white text-lg">Loading...</div>
    </div>
    <div v-if="!isLoading">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-5 pb-5">
        <a-table
          :columns="columns"
          :dataSource="companies"
          :pagination="pagination"
          @change="handleTableChange"
        >
          <template #index="{ record }">
            {{ record.rowIndex }}
          </template>

          <template #logo="{ record }">
            <img :src="record.logo" v-if="record.logo" style="width: 50px; height: auto" />
            <span v-else>N/A</span>
          </template>
          <template #website="{ record }">
            <a :href="record.website" target="_blank" style="color: #1890ff">{{ record.website }}</a>
          </template>
          <template #actions="{ record }">
            <button @click="showDeleteModal(record)" class="text-red-600 mr-2">
              <DeleteOutlined />
            </button>
            <button @click="showEditModal(record)" class="text-blue-600">
              <EditOutlined />
            </button>
          </template>
        </a-table>
      </div>
    </div>

    <!-- delete model  -->
    <DeleteConfirmationModal
      :isVisible="deleteModalVisible"
      message="Are you sure you want to delete this company?"
      @update:isVisible="deleteModalVisible = $event"
      @confirm="confirmDelete"
    />

    <!-- Create and update model -->
    <a-modal
      v-model:visible="createModalVisible"
      :title="modalTitle"
      @ok="handleCreate"
      @cancel="handleCancel"
    >
      <form @submit.prevent="createCompany">
        <div class="mb-4">
          <InputLabel value="Name" />
          <input
            type="text"
            id="name"
            v-model="name"
            placeholder="Company Name"
            required
            class="form-input mt-1 block w-full"
          />
        </div>
        <div class="mb-4">
          <InputLabel value="Email" />
          <input
            type="email"
            id="email"
            v-model="email"
            placeholder="Email"
            required
            class="form-input mt-1 block w-full"
          />
        </div>
        <div class="mb-4">
          <InputLabel value="Logo" />
          <img
            v-if="imagePreview"
            :src="imagePreview"
            alt="Company Logo"
            style="max-width: 100%; height: 100px"
            class="block mb-2"
          />
          <input
            ref="logoInput"
            type="file"
            id="logo"
            @change="handleFileUpload"
            required
            class="mt-1 block w-full"
          />
        </div>
        <div class="mb-4">
          <InputLabel value="Website" />
          <input
            type="text"
            id="website"
            v-model="website"
            placeholder="Website URL"
            required
            class="form-input mt-1 block w-full"
          />
        </div>
      </form>
      <template #footer>
        <div>
          <div class="form-group">
            <button
              type="button"
              class="mb-2 bg-slate-500 hover:bg-slate-700 mr-2 text-white font-bold py-2 px-4 rounded"
              @click="handleCancel"
            >
              Cancel
            </button>
            <button
              type="button"
              class="mb-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              @click="createCompany"
            >
              {{ buttonTitle }}
            </button>
          </div>
        </div>
      </template>
    </a-modal>
  </AuthenticatedLayout>
</template>

<script>
import axios from "@/axios";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import DeleteConfirmationModal from '@/Components/DeleteConfirmationModal.vue';
import { Head } from "@inertiajs/vue3";
import { Table, Modal } from "ant-design-vue";
import { DeleteOutlined, EditOutlined } from "@ant-design/icons-vue";
import InputLabel from '@/Components/InputLabel.vue';

export default {
  components: {
    AuthenticatedLayout,
    DeleteConfirmationModal,
    Head,
    "a-table": Table,
    "a-modal": Modal,
    DeleteOutlined,
    EditOutlined,
    InputLabel
  },
  data() {
    return {
      companies: [],
      isLoading: false,
      error: "",
      columns: [
        {
          title: "Index",
          dataIndex: "index",
          slots: { customRender: "index" },
        },
        {
          title: "Name",
          dataIndex: "name",
        },
        {
          title: "Email",
          dataIndex: "email",
        },
        {
          title: "Logo",
          dataIndex: "logo",
          slots: { customRender: "logo" },
        },
        {
          title: "Website",
          dataIndex: "website",
          slots: { customRender: "website" },
        },
        {
          title: "Actions",
          dataIndex: "actions",
          slots: { customRender: "actions" },
        },
      ],
      createModalVisible: false,
      name: "",
      email: "",
      logo: "",
      website: "",
      companyId: "",
      isEditMode: false,
      deleteModalVisible: false,
      editModalVisible: false,
      buttonTitle: "Create",
      modalTitle: "Create New Company",
      imagePreview:'',
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
      },
    };
  },
  created() {
    this.fetchCompanies();
  },
  methods: {
    resetForm() {
      this.name = "";
      this.email = "";
      this.logo = null;
      this.website = "";
      this.createModalVisible = false;
      this.buttonTitle = "Create";
      this.modalTitle = "Create New Company";
      this.imagePreview='';
      this.isEditMode = false;
      if (this.$refs.logoInput) {
        this.$refs.logoInput.value = null;
      }
    },
    handleFileUpload(event) {
      this.logo = event.target.files[0];
      if (this.logo && this.logo.type.startsWith('image/')) {
      this.imagePreview = URL.createObjectURL(this.logo);
      } else {
        this.imagePreview = null;
      }
    },
    handleTableChange(pagination, filters, sorter) {
      this.fetchCompanies(pagination.current);
    },
    showCreateModal() {
      this.createModalVisible = true;
    },
    handleCreate() {
      this.createCompany();
    },
    handleCancel() {
      this.resetForm();
      this.createModalVisible = false;
    },
    async confirmDelete() {
      await axios
        .delete(`/companies/${this.currentCompany.id}`)
        .then((response) => {
          this.$toast.success(response.data.message);
          this.fetchCompanies();
        })
        .catch((error) => {
          this.$toast.error("An error occurred while deleting the company.");
          console.error("Failed to delete company:", error);
        });

      this.deleteModalVisible = false;
      this.currentCompany = null;
    },
    showDeleteModal(company) {
      this.currentCompany = company;
      this.deleteModalVisible = true;
    },
    showEditModal(company) {
      this.isEditMode = true;
      this.companyId = company.id;
      this.name = company.name;
      this.email = company.email;
      this.website = company.website;
      this.logo = company.logo;
      this.imagePreview = company.logo;
      this.createModalVisible = true;
      this.buttonTitle = "Update";
      this.modalTitle = "Update Company";
    },
    cancelDelete() {
      this.deleteModalVisible = false;
      this.currentCompany = null;
    },
    async createCompany() {
      this.isLoading = true;
      let url = this.isEditMode ? `/companies/${this.companyId}` : "/companies";
      let self = this;
      let data = new FormData();
      data.append("name", self.name);
      data.append("email", self.email);
      data.append("logo", self.logo);
      data.append("website", self.website);
      // API call
      await axios
        .post(url, data)
        .then((response) => {
          this.createModalVisible = false;
          this.$toast.success(response.data.message);
          self.resetForm();
          this.fetchCompanies();
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
          if (error.response && error.response.data) {
            const errors = error.response.data.errors;
            for (const key in errors) {
              errors[key].forEach((message) => {
                this.$toast.error(message);
              });
            }
          } else {
            this.$toast.error("An error occurred while creating the company.");
          }
          console.error("Failed to create company:", error);
        });
    },
    async fetchCompanies(page = 1) {
      this.isLoading = true;
      try {
        const response = await axios.get(`/companies?page=${page}`);
        const startIndex = (response.data.current_page - 1) * response.data.per_page;
        this.companies = response.data.data.map((company, index) => ({
          ...company,
          rowIndex: startIndex + index + 1,
        }));
        this.pagination.total = response.data.total;
        this.pagination.current = response.data.current_page;
        this.pagination.pageSize = response.data.per_page;
      } catch (error) {
        console.error("Failed to fetch companies:", error);
        this.error = "Failed to load the list of companies.";
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<style scoped>
.text-center {
  text-align: center;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.text-red-500 {
  color: #f56565;
}
</style>
